<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="WP Media" xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
	<description>The custom ruleset for WP Media projects</description>

	<!-- For help in understanding this file: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<!-- For help in using PHPCS: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->
	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="."/>

	<!-- ** WHAT TO SCAN ** -->

	<file>inc</file>
	<file>Tests</file>
	<file>plugin.php</file>
	<!-- Ignoring Files and Folders: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#ignoring-files-and-folders -->

	<!-- ** HOW TO SCAN ** -->

	<arg value="sp"/><!-- Show sniff and progress -->
	<arg name="colors"/><!-- Show results with colors -->
	<arg name="parallel" value="50"/><!-- Enables parallel processing when available for faster results. -->
	<arg name="extensions" value="php"/><!-- Limit to PHP files -->

	<!-- Rules: Check PHP version compatibility - see https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibility"/>
	<config name="testVersion" value="7.4-"/>
	<config name="minimum_supported_wp_version" value="6.6"/>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag" />
		<exclude name="Squiz.Commenting.FileComment.Missing" />
		<exclude name="Squiz.Commenting.ClassComment.Missing" />
		<exclude name="Universal.Arrays.DisallowShortArraySyntax.Found" />
	</rule>
    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
				<element value="package-template" />
			</property>
        </properties>
    </rule>
    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array">
				<element value="wpmedia" />
			</property>
        </properties>
    </rule>
    <rule ref="WordPress.Files.FileName">
        <properties>
            <property name="strict_class_file_names" value="false" />
        </properties>
    </rule>
	<rule ref="Generic.Arrays.DisallowLongArraySyntax" />
</ruleset>
